<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Suite" parallel="classes">
    <test name="AndroidDevice01Test">
        <parameter name="device" value="AndroidPhone" />
        <classes>
            <class name="com.rhmsoft.fm.ImageTest"/>
            <class name="com.rhmsoft.fm.HelperTest"/>
        </classes>
    </test>
</suite>
